/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* body {
    padding-top: 90px;
} */

header.main-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    line-height: 90px;
    text-transform: uppercase;
    font-size: 12px;
    background: #10325a;
}
h1,
h2,
h3 {
    font-weight: 400;
}


/* UTILITIES */
.wrap-container {
    width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    /*background-color: red; placeholder*/
}

.float-l {
    float: left;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.col-width-50 {
    width: 50%;
}

.cta {
    display: inline-block;
    min-width: 95px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
.cta-green {
    background-color:#7cbb01;
    border: 1px solid transparent;
}
.cta-big {
    padding: 25px;
}


/* HEADER CONTENT  */
.main-header .brand {
    width: 20%;
}
.brand img {
    width: 145px;
    vertical-align: middle;
}

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right {
    width: 35%;
    text-align: right;
}

nav a.cta {
    line-height: 1;
}

nav li {
    display: inline-block;
    margin-right: 29px;
    list-style: none;
}
nav li:last-child {
    margin-right: 0;
}

li > a {
    text-decoration: none;
    color: #fff;
}

/* MAIN CONTENT  */
/* hero section  */
.hero {
    height: 600px;
    background-color: #10325a;
    background-image: url('../img/background-header.png');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 114% 110%;
}

.hero > .wrap-container {
    position: relative;
    height: 100%;
}

.hero .hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#fff;
}

.hero-text > h1 {
    margin-bottom: 38px;
    font-size: 60px;
}

.slogan {
    padding: 50px 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: #d3d3d3;
}

.slogan > h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
}

.slogan h2 + span {
    font-size: 18px;
    color:#818181;
}

/*Fluentify offerta*/
section.offer {
border-bottom: 1px solid #eaeaea ;
}

section.offer .col {
    width: calc(100% / 3);
    padding: 35px;
    text-align: center;
}
section.offer .col:last-child {
    margin-right: 0px;
}

section.offer .col img {
    height: 180px ;
}

section.offer .col h3 {
    margin-top: 30px;
    font-size: 31px;
    color: #7ebb04;
}

section.offer .col hr {
    width: 90px;
    margin: 32px auto;
}

section.offer .col p,
.test .col-width-50 div:nth-child(2) {
    color: #8a8a8a ;
}

/*Fluentify test*/
.test img {
    height: 530px;
}

.test > .wrap-container {
    padding: 50px;
}

.test h2 {
    font-size: 30px;
}

.test .col-width-50 div:nth-child(2) {
    margin: 25px 0;
}

/* FOOTER CONTENT  */
footer  {
    padding: 60px 0;
    vertical-align: center;
    background-color: #d3d3d3;
}


footer > .wrap-container div:first-child {
    line-height: 71px;
}

footer h3 {
    font-size: 24px;
    font-weight: 500;
}

footer > .wrap-container div:nth-child(2) *:not(.cta) {
    margin-right: 35px;
    color: #838383;
}

footer select {
    width: 230px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
