/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 90px;
}

header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    line-height: 90px;
    text-transform: uppercase;
    font-size: 12px;
    background: #10325a;
}
h1,
h2,
h3 {
    font-weight: 400;
}

section {
    border-bottom: 1px solid #eaeaea ;
}
    
p {
    color: #8a8a8a ;
}

/* UTILITIES */
.wrap-container {
    width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
}

.float-l {
    float: left;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.col-width-50 {
    width: 50%;
}

.cta {
    display: inline-block;
    min-width: 95px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}
.cta-green {
    background-color:#7cbb01;
    border: 1px solid transparent;
}
.cta-big {
    padding: 25px;
}


/* HEADER CONTENT  */
.main-header .brand {
    width: 20%;
}
.brand img {
    width: 145px;
    vertical-align: middle;
}

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right {
    width: 35%;
    text-align: right;
}

nav a.cta {
    line-height: 1;
}

nav li {
    display: inline-block;
    margin-right: 29px;
    list-style: none;
}
nav li:last-child {
    margin-right: 0;
}

nav a:hover:not(.cta-green) {
    color: #7cbb01;
}

li > a {
    text-decoration: none;
    color: #fff;
}

/* MAIN CONTENT  */
/* hero section  */
.hero {
    height: 600px;
    background-color: #10325a;
    background-image: url('../img/background-header.png');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 114% 110%;
}

.hero > .wrap-container {
    position: relative;
    height: 100%;
}

.hero .hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:#fff;
}

.hero-text > h1 {
    margin-bottom: 38px;
    font-size: 60px;
}

.slogan {
    padding: 50px 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: #d3d3d3;
}

.slogan > h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
}

.slogan h2 + span {
    font-size: 18px;
    color:#818181;
}

/*Fluentify offerta*/
section.offer .col {
    width: calc(100% / 3);
    padding: 35px;
    text-align: center;
}
section.offer .col:last-child {
    margin-right: 0px;
}

section.offer .col img {
    height: 180px ;
}

section.offer .col h3 {
    margin-top: 30px;
    font-size: 31px;
    color: #7ebb04;
}

section.offer .col hr {
    width: 90px;
    margin: 32px auto;
}

/*Fluentify test */
.test img {
    height: 530px;
}

.test > .wrap-container {
    padding: 50px;
}

.test h2 {
    font-size: 30px;
}

.test .col-width-50 p:nth-child(2) {
    margin: 25px 0;
}

.test .col-width-50:nth-child(2) {
    padding: 0 9%;
} 

/* STRUTTURA PIANO */
.struttura-piano  {
    padding: 60px 0;
    margin-bottom: 80px;
    vertical-align: center;
    background-color: #d3d3d3;
}

.struttura-piano > .wrap-container div:first-child {
    line-height: 71px;
}

.struttura-piano h3 {
    font-size: 24px;
    font-weight: 500;
}

.struttura-piano > .wrap-container div:nth-child(2) *:not(.cta) {
    margin-right: 35px;
    color: #838383;
}

.struttura-piano select {
    width: 230px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.cta.help {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px 5px 0 0;
}

/* section minimal-english */
.minimal-english {
    padding-bottom: 125px;
}
.minimal-english .col-width-50 {
    padding: 0 75px;
}

.minimal-english h2 {
    margin: 25px 0 50px 0px;
}
.minimal-english .col-width-50:nth-child(2) {
    padding: 0px 11%;
} 

.minimal-english .real-english {
margin-top: 26px;
}
.real-english > .cta-special {
    display: inline-block;
    width: 200px;
    padding: 10px;
    padding-right: 60px;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.real-english div:last-child {
    display: inline-block;
    width: 190px;
    font-size: 12px;
    text-align: center;
    color:#afc0c7;

}
/* section device */
section.device {
     padding: 120px 0 80px 0;
}

section.device > .col-width-50 {
    margin: 0 auto;
    padding: 0 9%;
    text-align: center;
}

section.device > .col-width-50 > * {
    margin-bottom: 20px;
}
section.device > .col-width-50 p:nth-child(3) {
    font-size: 13px;
}

section.device h2 {
    font-weight: 500;
}
section.device h2 > span {
    color: #7cbb01;
}

/* section piano aziendale */
section.piano-aziendale {
    margin-bottom: 90px;
    padding: 90px 0;
    background-color: #10325a;
}
.piano-aziendale .col-width-50 {
    padding-right: 29%;
}

.piano-aziendale .col-width-50 * {
    margin-bottom: 25px;
}

.piano-aziendale h3 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

/* scegli piano */
section.scegli-piano .col {
    width: calc(100% / 3);
    padding: 85px 80px;
}
.scegli-piano .wrap-container {
    padding: 0 70px;
}
section.scegli-piano .col * {
    margin-bottom: 24px;
}
section.scegli-piano .col img {
    height: 55px;
}
section.scegli-piano hr {
    border: 6px solid;
}

.scegli-piano h2 {
    text-align: center;
    font-weight: 500;
}

.scegli-piano > .wrap-container div.col:nth-child(2) hr,
.scegli-piano > .wrap-container div.col:nth-child(2) a {
    color: #9bc7f0;
}

.scegli-piano > .wrap-container div.col:nth-child(3) hr,
.scegli-piano > .wrap-container div.col:nth-child(3) a {
    color: #f4a611;
}

.scegli-piano > .wrap-container div.col:nth-child(4) hr,
.scegli-piano > .wrap-container div.col:nth-child(4) a {
    color: #82b211;
}